body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
	padding-right: 0!important;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 42px;
}
h2 {
	font-size: 38px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
a {
	color: #23a1d1;
	cursor: pointer;
}
a:hover, a:active, a:focus, button:hover, button:active, button:focus {
	text-decoration: none;
	outline: none;
}
header {
	background: #9ebc59;
	padding: 5px 0;
}
.top-menu-inner-box {
	margin: 0;
	padding: 0;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
}
.top-menu-inner-box li a {
	color: #fff;
    font-size: 18px;
	position: relative;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.top-menu-inner-box li a:before {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	transition: all 0.5s;
	background-color: #fff;
	height: 2px;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
}
.top-menu-inner-box li a:hover:before {
	width: 100%;
	transition: all 0.5s;
} 
.top-phones-inner-box li a {
	position: relative;
}
.top-phones-inner-box li a:before {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	transition: all 0.5s;
	background-color: #fff;
	height: 2px;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
}
.top-phones-inner-box li a:hover:before {
	width: 100%;
	transition: all 0.5s;
} 
.dropdown-menu {
    padding: 15px;
    margin: 0;
    background-color: #9ecd96;
    border: none;
    border-radius: 8px;
    box-shadow: none;
}
.top-menu-inner-box li .dropdown-menu a {
    margin: 10px 0;
}
.top-phones-inner-box {
	list-style: none;
	 -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
	padding: 0;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
}
.top-phones-inner-box  li a {
	color: #fff;
	font-size: 24px;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 5px 0;
}
header .row {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
}
.main-slide-box {
	background: url('/catalog/view/theme/default/image/slide-box-bg.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 100px 0;
}
.last-work-slider {
	background: #9ebc59;
	padding: 30px 0;
    position: relative;
    z-index: 1;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
}
.owl-wrapper-outer {
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.owl-carousel {
    margin: 0;
    background: transparent;
}
.owl-carousel img {
	width: 90%;
	margin: 0 auto;
    object-fit: cover;
}
.owl-carousel .owl-buttons div i {
    color: #fff;
    font-size: 88px;
}
.title-item {
	text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}
.owl-carousel .owl-buttons .owl-prev {
    left: -10px;
}
.owl-carousel .owl-buttons .owl-next {
    right: -10px;
}
.last-work-slider .owl-carousel .owl-buttons .owl-prev {
    left: -50px;
}
.last-work-slider .owl-carousel .owl-buttons .owl-next {
    right: -50px;
}
.info-box-inner {
	position: relative;
}
.info-box-title {
	color: #9ebc59;
}
.info-box-title span {
	display: block;
}
.img-man-box {
	position: absolute;
	right: 0;
	bottom: 0;
}
.bigger-text {
	text-transform: uppercase;
	font-weight: 700;
}
.lower-text {
	font-weight: 500;
    font-size: 26px;
}
.info-box-text-box {
    background: #9ebc59;
    padding: 15px;
}
.info-box-text-box p {
	margin-bottom: 25px;
	color: #fff;
	font-size: 20px;
	width: 60%;
    line-height: 1.4;
}
.title-item.not-white-title {
	color: #9ebc59;
}
.hww-icons-wrapper {
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; 
}
.hww-item {
	 display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
     -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
     -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 15%;
}
.hww-item span {
	 display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
     -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    background: #9ebc59;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.hww-item p {
	color: #9ebc59;
	margin-bottom: 0;
	font-size: 16px;
	text-align: center;
    margin-top: 10px;
}
.hww-box {
	padding: 50px 0;
}
.title-item span {
	display: block;
}
.hww-icons-wrapper.advantages-icons {
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
}
.hww-item.advantages-item {
	margin: 0 20px;
}
.form-box-in-page .bigger-text {
    font-weight: 500;
}
.form-box-in-page {
	background: #9ebc59;
	padding: 30px 0;
}
.main-form {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.input-field {
	width: 23%;
	margin: 0 auto;
}
.input-field textarea {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	border: none;
	padding: 8px 15px;
	color: #282828;
	border: 1px solid #9ebc59;
    font-size: 22px;
    height: 200px;
    resize: none;
}
.input-field input {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	border: none;
	padding: 8px 15px;
	color: #282828;
	border: 1px solid #9ebc59;
    font-size: 22px;
}
 
.input-field button {
	width: 100%;
	background: #fff;
	border-radius: 8px;
	border: none;
	padding: 8px 15px;
	color: #282828;
	text-transform: uppercase;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #9ebc59;
    transition: all 0.5s;
    font-size: 22px;
    height: 48px;
}
.input-field button:hover, .input-field button:focus, .input-field button:active {
	background:  #9ebc59;
	border: 1px solid #fff;
	color: #fff;
	transition: all 0.5s;
}
.input-field input:hover, .input-field input:focus, .input-field input:active {
	outline: none;
	border: 1px solid #fff;
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(158,188,89,0.5);
	-moz-box-shadow: inset 0px 0px 2px 0px rgba(158,188,89,0.5);
	box-shadow: inset 0px 0px 2px 0px rgba(158,188,89,0.5);
}
.make-order-box {
	margin: 0 0 30px;
	text-align: center;
}
.make-order-box a {
	background: #9ebc59;
	border-radius: 8px;
	border: none;
	padding: 13px 25px;
	color: #282828;
	text-transform: uppercase;
	display: -webkit-inline-box; 
	display: -webkit-inline-flex; 
	display: -ms-inline-flexbox; 
	display: inline-flex; 
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #9ebc59;
    transition: all 0.5s;
    color: #fff;
    font-size: 32px;
}
.make-order-box a:hover, .make-order-box a:active, .make-order-box a:focus {
	background:  #fff;
	border: 1px solid #9ebc59;
	color: #9ebc59;
	transition: all 0.5s;
}
footer {
	background: #4c4d4e;
	padding: 30px 0;
    margin-top: 50px;
}
footer .top-phones-inner-box {
	list-style: none;
	 -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
	padding: 0;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
footer .top-phones-inner-box li {
	margin-right: 15px;
	margin-bottom: 15px;
}
footer .top-phones-inner-box  li a {
	margin: 0;
}
footer .top-phones-inner-box li .material-icons {
	margin: 0 5px;
}
.copy-right {
	color: #fff;
}
.copy-right a {
	color: #eee;
}
.breadcrumb {
    padding: 8px 15px 8px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    margin: 15px 0;
}
.breadcrumb li a {
    color: #9ebc59;
    font-size: 16px;
}
.breadcrumb li:last-child a {
    opacity: .6;
}
#content {
	min-height: 600px;
}
.sorts-box {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 25px;
}
.sorts-box-item {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
     margin: 0 15px;
}
.sorts-box-item-inner {
    margin: 0 10px;
}
label {
    margin-bottom: 0;
}
.image img {
	width: 100%;
    object-fit: cover;
}
.caption h4 a {
    width: 100%;
    text-align: center;
    display: block;
    color: #9ebc59;
    font-weight: 600;
    height: 38px;
}
.price {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; 
}
.price span {
	margin: 0 5px;
}
.price-main {
	display: block;
    text-align: center;
    font-size: 24px;
}
.price-old {
	font-size: 18px;
	text-decoration: line-through;
}
.product-btns-box {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.product-btn {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    color: #fff;
    background: #9ebc59;
    border: 1px solid #9ebc59;
    border-radius: 8px;
    padding: 8px  3px;
    transition: all 0.5s;
    cursor: pointer;
    width: 45%;
}
.product-btn.product-btn-new {
    display: -webkit-inline-box; 
    display: -webkit-inline-flex; 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    width: 200px;
}
.product-btn:hover, .product-btn:focus, .product-btn:active {
	color: #9ebc59;
    background: #fff;
    transition: all 0.5s;
}
.product-btn .material-icons {
	margin: 0 3px;
}
.fetured-box-home-page {
	margin-top: 25px;
}
.product-thumb {
    border: 1px solid #9ebc59;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.5s;
    margin-bottom: 20px;
}
.product-thumb:hover {
	transition: all 0.5s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(158,188,89,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(158,188,89,1);
	box-shadow: 0px 0px 10px 0px rgba(158,188,89,1);
}
.category-description p {
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
}
.pagination-box {
	-webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.form-control:focus {
    border-color: #9ebc59;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
}
.product-about-info {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start; 
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.product-description-box h4 {
	margin-top: 0;
}
.product-description-box h4 a {
	color: #9ebc59;
	text-align: center;
}
#quick-buy .input-field {
    width: 90%;
    margin: 10px auto;
}
#quick-buy .input-field input {
    text-align: center;
}
#quick-buy h3 {
	text-align: center;
}
.thanks-text {
	display: none;
}
#quick-buy .input-field input:hover, #quick-buy .input-field input:focus, #quick-buy .input-field input:active {
    border-color: #9ebc59;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
}
#callback .input-field {
    width: 90%;
    margin: 10px auto;
}
#callback .input-field input {
    text-align: center;
}
#callback h3 {
	text-align: center;
}
.thanks-text {
	display: none;
}
#callback .input-field input:hover, #callback .input-field input:focus, #callback .input-field input:active {
    border-color: #9ebc59;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
}
.owl-carousel .owl-buttons div {
    transform: translateY(-50%);
}
.owl-carousel .owl-buttons div i {
    margin: 0;
}
.home-page-featured-slider.owl-carousel .owl-buttons div i {
    color: #9ebc59;
}
.home-page-featured-slider.owl-carousel:hover .owl-buttons div {
    opacity: 1;
}
.header-scrolled {
	padding-top: 100px;
}
.header-scrolled header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    border-bottom: 1px solid #fff
}
.header-scrolled .top-phones-inner-box li a {
    font-size: 18px;
    margin: 0;
}
.header-scrolled #logo img {
	width: 60%;
}
.map-box {
    height: 400px;
    margin-bottom: 25px;
}
.contact-page-form .input-field {
    width: 100%;
    margin: 0 auto 15px;
}
.contact-page-form .input-field input:hover, .contact-page-form .input-field input:focus, .contact-page-form .input-field input:active {
   border-color: #9ebc59;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(158,188,89,.6);
}
.contact-text-item {
    font-size: 16px;
    color: #9ebc59;
}
.contact-text-item a {
    font-size: 16px;
    text-decoration: underline;
    color: #9ebc59;
}
.panel-default {
    border-color: #9ebc59;
}
.works-title {
    text-align: center;
    padding: 8px;
    background-color: #eee;
}
.works-item {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}
.works-item-inner {
    position: relative;
    font-size: 16px;
    padding-left: 15px;
    line-height: 1.4;
}
.works-item-inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 4px;
    background: #9ebc59;
    border-radius: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.works-item-inner.works-item-inner-drop {
    margin-left: 10px;
}
.social-box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    list-style: none;
}
.social-item {
    margin: 0 5px;
}
.social-item a {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center; 
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center; 
    margin: auto;
    background: #fff;
    color: #9ebc59;
    border-radius: 50%;
    border: 1px solid #9ebc59;
    width: 35px;
    height: 35px;
    transition: all 0.5s;
}
.social-item a:hover {
    background: #9ebc59;
    color: #fff;
    transition: all 0.5s;
}
.image a {
    height: 255px;
     display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}
.last-work-item-wrap {
     display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 350px;
}
#slideshow0 .item {
     display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    height: 485px;
}
.galery-img-title {
    text-align: center;
    color: #9ebc59;
    margin: 5px auto 25px;
    text-transform: capitalize;
    font-weight: 600;
    height: 38px;
}
/*mobile-fixes*/
.desctop-only-header {
    display: block;
}
header.mobile-header {
    display: none;
}
.sidenav, .top-phones-inner-box  li a.only-mobile-btns {
    display: none;
}
/*mobile-fixes*/
button.close {
    position: absolute;
    top: 0;
    right: 15px;
}
#myModal-more-info .modal-content {
    padding-top: 15px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #9ebc59;
    border-color: #9ebc59;
}
.pagination>li>a, .pagination>li>span {
    color: #9ebc59;
}
@media(max-width: 1200px) {
    .top-phones-inner-box li a {
        font-size: 18px;
        margin: 0px 0;
    }
    .top-menu-inner-box li a {
        font-size: 15px;
    }
    #slideshow0 .item {
        height: 335px;
    }
    .last-work-item-wrap {
        height: 200px;
    }
    .image a {
        height: 200px;
    }
    .caption h4 a {
        height: 35px;
        overflow: hidden;
        font-size: 16px;
    }
    .product-thumb {
        border: 1px solid #9ebc59;
        padding: 15px 8px;
    }
    .product-btn {
        width: 49%;
    }
    .last-work-slider .owl-carousel .owl-buttons .owl-next {
        right: 0;
        opacity: 1;
    }
    .last-work-slider .owl-carousel .owl-buttons .owl-prev {
        left: 0;
        opacity: 1;
    }
    .header-scrolled #logo img {
        width: 80%;
    }
    .product-layout {
        padding: 0 5px;
        margin-bottom: 15px;
    }
    body {
        padding-top: 100px;
    }
}
@media(max-width: 1024px) {
    .desctop-only-header {
        display: none;
    }
    header.mobile-header {
        display: block;
        position: fixed;
        height: 50px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 555;
    }
    .top-phones-inner-box  li a.only-mobile-btns {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
    }
    .header-mobile-inner {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        background: #9ebc59;
        border-bottom: 2px solid #282828;
    }
    /*.mobile-item-logo {
        width: 30%;
    }*/
    .sidenav {
        height: 100%; 
        width: 300px; 
        position: fixed; 
        z-index: 999999;
        top: 0;
        left: -9999px;
        background-color: #9ebc59; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
        display: block;
    }
    #mobile-overlay {
        position: fixed; 
        width: 100%;
        height: 100%;
        left: -9999px;
        top: 0;
        background: rgba(0,0,0,.6);
        z-index: 99999;
    }
    .sidenav#top-links-mob-box {
        left: auto;
        right: -9999px;
    }
    #category-mob-list .top-menu-inner-box {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start; 
    }
    .sidenav ul li {
        padding: 5px 15px;
        border-bottom: 1px solid #fff;
        width: 100%;
    }
    a.closebtn-mob {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #fff;
    }
    .dropdown-menu {
        padding: 5px;
        margin: 0;
        background-color: #9ecd96;
        border: none;
        border-radius: 8px;
        box-shadow: none;
        width: 100%;
    }
    .owl-carousel .owl-buttons .owl-next {
        right: 0;
        opacity: 1;
    }
    .owl-carousel .owl-buttons .owl-prev {
        left: 0;
        opacity: 1;
    }
    .fetured-box-home-page .row {
        margin: 0;
    }
    .mob-menu-trigger {
        color: #fff;
    }
    .mob-menu-trigger .material-icons {
        font-size: 42px;
    }
}
@media(max-width: 992px) {
    footer .head-item-box {
        width: 100%;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center; 
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .info-box-text-box p {
        width: 80%;
        position: relative;
        z-index: 1;
        background: rgba(0,0,0,.4);
        padding: 10px;
        border-radius: 8px;
    }
    .hww-item p {
        font-size: 14px;
    }
    .input-field {
        width: 45%;
        margin: 0 auto 15px;
    }
    .main-form {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .hww-item {
        width: 33.3%;
    }
    .hww-item.advantages-item {
        margin: 15px 0;
    }
    .hww-icons-wrapper {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .hww-item {
        width: 33.3%;
        margin: 15px 0;
    }
    footer .top-phones-inner-box li {
        margin-right: 0;
        margin-bottom: 15px;
        width: 50%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center; 
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }
}
@media(max-width: 767px) {
    .social-box {
        padding: 0;
    }
    .info-box-title {
        color: #9ebc59;
        padding: 0 15px;
        font-size: 28px;
    }
    .lower-text {
        font-weight: 500;
        font-size: 22px;
    }
    .info-box-text-box p {
        width: 100%;
    }
    
    .product-about-info {
        display: block;
    }
    .modal-images-item a {
        display: flex;
        height: 210px;
    }
    .product-description-box h4 a {
        color: #9ebc59;
        text-align: center;
        display: block;
        margin: 10px 0;
    }
    .image a {
        height: 200px;
        margin: auto;
    }
    h1 {
        font-size: 32px;
    }
    h3 {
        font-size: 22px;
    }
    h2 {
        font-size: 28px;
    }
    .works-item-inner {
        position: relative;
        font-size: 14px;
        padding-left: 15px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    #slideshow0 .item {
        height: 200px;
    }
    .sorts-box {
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }
    .sorts-box-item {
        margin: 10px 15px;
    }
    body {
        padding-top: 95px;
    }
}
@media(max-width: 550px) {
    .product-btn {
        width: 100%;
        margin: 5px 0;
    }
    .product-btns-box {
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
    .category-description p {
        text-align: center;
        font-size: 14px;
        line-height: 1.4;
    }
}
@media(max-width: 480px) {
    #slideshow0 .item {
        height: 125px;
    }
    .modal-dialog {
        position: relative;
        width: 90%;
        margin: 10px auto;
    }
    .input-field {
        width: 90%;
        margin: 0 auto 15px;
    }
    .hww-item {
        width: 50%;
        margin: 15px 0;
    }
    .make-order-box a {
        font-size: 22px;
    }
    footer .top-phones-inner-box li {
        width: 100%;
    }
    h1 {
        font-size: 22px;
    }
    h3 {
        font-size: 16px;
    }
    h2 {
        font-size: 18px;
    }
}
@media(max-width: 320px) {
    
}